---
import "../../styles/header.css";
import Menu from "../svelte/Menu.svelte";

interface Props {
    id: number;
    role: string;
}

const { id, role } = Astro.props;
// const role = "guest";
// const id = 0;
---

<header>
    <nav
        class="flex justify-between item-center w-full p-2 bg-black text-white"
    >
        <a href="/"><h1 class="text-2xl">IgorService</h1></a>
        <Menu role={role} id={id} />
    </nav>
</header>
