---
import AdminLayout from "../../../layouts/AdminLayout.astro";
---

<AdminLayout title="Gérant Dashboard">
    <nav>
        <ul class="flex space-x-2">
            <a href="/Admin/Gerant"><li>liste</li></a>
            <a href="/Admin/Gerant/create"><li>créer</li></a>
        </ul>
    </nav>
</AdminLayout>