---
import Layout from "../../layouts/Layout.astro";
import "leaflet/dist/leaflet.css"
---

<Layout
    title="Map"
>

<script src="../../assets/js/log.js" ></script>

<div id="macarte" class="w-[800px] h-[800px] border-2 border-black"></div>

</Layout>


















