---
import Layout from "../../layouts/Layout.astro";
import "leaflet/dist/leaflet.css";
---

<Layout title="Map">
    <script src="../../assets/js/map.js"></script>

    <div id="macarte" class="w-[100%] h-[800px] border-2 border-black">
        <div id="resultsList"></div>
    </div>

    <form action="" method="get">
        <label for="search">Vous recherchez quoi en fait ?</label>
        <input type="text" name="search" id="search" />
        <button type="button" id="searchButton"> Rechercher </button>
    </form>

    <style is:inline>
        #macarte {
            position: relative;
            z-index: 0;
        }
        .my-control {
            padding: 2px;
            display: block;
            border-radius: 0px;
        }
        form {
            padding: 20px;
        }
        button,
        #search {
            border: 2px solid;
            border-radius: 5px;
            padding: 3px;
        }
        #resultsList {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            max-width: 400px;
            max-height: 300px;
            overflow: scroll;
            z-index: 401; /* Under this value, any child of #macarte goes under it */
        }
        #closeButton {
            position: sticky;
            width: 25px;
            margin-left: auto;
            font-size: 25px;
            cursor: pointer;
            color: black;
        }
        .item-search {
            padding: 5px;
            cursor: pointer;
        }
        .item-search:hover {
            background-color: rgba(155, 155, 155, 0.2);
        }
    </style>
</Layout>
