---
import UserLayout from "../../layouts/UserLayout.astro";
import "leaflet/dist/leaflet.css";

---

<UserLayout title="Map">
    <script src="../../assets/js/global.js"></script>

    <div id="macarte" class="w-[100%] h-[800px] border-2 border-black">
        <div id="resultsList"></div>
    </div>

    <form action="" method="get">
        <label for="search">Vous recherchez quoi en fait ?</label>
        <input type="text" name="search" id="search" />
        <button type="button" id="searchButton"> Rechercher </button>

        <div id="advance-search-link" class="inactive">Recherche Avancée</div>

        <div id="advance-search">
            <legend>Distance de recherche max. ?</legend>
            <div>
                <input
                    type="radio"
                    id="radius1"
                    name="search-radius"
                    value="10"
                />
                <label for="radius1">10 km</label>

                <input
                    type="radio"
                    id="radius2"
                    name="search-radius"
                    value="25"
                />
                <label for="radius2">25 km</label>

                <input
                    type="radio"
                    id="radius3"
                    name="search-radius"
                    value="50"
                />
                <label for="radius3">50 km</label>

                <input
                    type="radio"
                    id="radius4"
                    name="search-radius"
                    value="100"
                />
                <label for="radius4">100 km</label>

                <input type="text" id="radius-free" placeholder="Ou bien la distance de votre choix (ex:1000)"/>
            </div>
        </div>
    </form>

    <style is:inline>
        #macarte {
            position: relative;
            z-index: 0;
        }
        /* Inside Div Map */
        #resultsList {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            max-width: 400px;
            max-height: 300px;
            overflow: scroll;
            z-index: 401; /* Under this value, any child of #macarte goes under it */
        }
        #closeButton {
            position: sticky;
            width: 25px;
            margin-left: auto;
            font-size: 25px;
            cursor: pointer;
            color: black;
        }
        .item-search {
            padding: 5px;
            cursor: pointer;
        }
        .item-search:hover {
            background-color: rgba(155, 155, 155, 0.2);
        }
        .my-control {
            padding: 2px;
            display: block;
            border-radius: 0px;
        }
        /* End Inside Div Map */
        form {
            padding: 20px;
        }
        button,
        #search,
        #radius-free {
            border: 2px solid;
            border-radius: 5px;
            padding: 3px;
        }
        /* Recherche avancée */
        #advance-search-link {
            text-decoration: underline;
            width: fit-content;
            cursor: pointer;
        }
        .inactive {
            color: rgba(0, 0, 255, 1);
        }
        .active {
            color: rgb(139, 41, 250);
        }
        #advance-search {
            display: none;
        }
        #radius-free {
            width: 320px;
        }
        /* Fin recherche avancée */
    </style>
</UserLayout>
