---
import Layout from "../../layouts/Layout.astro";
import "leaflet/dist/leaflet.css"
---

<Layout
    title="Map"
>

<script src="../../assets/js/map.js" ></script>


<div id="macarte" class="w-[100%] h-[800px] border-2 border-black"></div>

</Layout>


















