---
import UserLayout from '../layouts/UserLayout.astro';
import LoginSvl from '../componants/svelte/Login.svelte'
---

<UserLayout title="login">
    <main class="w-full flex justify-center my-4">
      <LoginSvl client:load/>
    </main>
</UserLayout>