---
import UserLayout from '../layouts/UserLayout.astro';
import LoginSvelte from '../componants/svelte/SignIn.svelte'
---

<UserLayout title="signIn">
   
    <main class="w-full flex justify-center my-4">
        <LoginSvelte client:load/>
    </main>
</UserLayout>