---
import UserLayout from '../../../layouts/UserLayout.astro';
import { checkSession } from "../../../db/session.js"

const { id } = Astro.params;
const info = Astro.cookies.get("connect.sid")?.value;
const json = await checkSession(info, id, "user")
if (json.hasOwnProperty("error") && json.error) return Astro.redirect("/");
const role = json.role;

---

<UserLayout title="UserSpace">
    <h2>{id}</h2>
    <div>{role}</div>
</UserLayout>
