---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Igor</title>
	</head>
	<body>
		<header
			class="flex justify-between item-center w-full p-2 bg-black text-white"
		>
			<a href="/"><h1 class="text-2xl">Igor Service</h1></a>
			<nav>
				<ul class="flex space-x-2">
					<a href="/signIn"><li>Inscription</li></a>
					<a href="/login"><li>Connection</li></a>
				</ul>
			</nav>
		</header>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
